[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "==4.3.0"
pytest-django = "==3.4.8"
black = "==18.9b0"
pre-commit = ">=1.14.4,<1.15"

[packages]
wagtail = ">=2.3"
bumpversion = "==0.5.3"
codecov = ">=2.0.0"
coverage = "==4.3.4"
"flake8" = ">=2.1.0"
mock = ">=1.0.1"
tox = ">=1.8"
wagtail-factories = "==1.1.0"

[requires]
python_version = "3.6"
