{% load wagtailcore_tags wagtailimages_tags %}


<li class="basic_card_grid__list">
    {% if self.image %}
        <a
        class="basic_card_grid__image"
        href="{% include_block self.link %}"
        aria-label="{{ self.title }}">
            {% image self.image fill-480x320-c100 as im %}
            <img src="{{ im.url }}" alt="">
        </a><!-- .basic_card_grid__image -->
    {% endif %}
    <a
    class="basic_card_grid__anchor"
    href="{% include_block self.link %}">
        <h2 class="basic_card_grid__title">{{ self.title }}</h2>
    </a><!-- .basic_card_grid__anchor -->
    <p class="basic_card_grid__text">{{ self.description }}</p>
</li><!-- .basic_card_grid__list -->
