{% load wagtailimages_tags %}


<ul class="flow_block__list">
    {% for child in self %}
        <li class="flow_block__item">
            {% if child.link %}
                <a
                class="flow_block__anchor"
                href="
                {% if child.link.external_url %}
                    {{ child.link.external_url }}
                {% else %}
                    {{ child.link.internal_url.url }}
                {% endif %}
                "
                aria-label="{{ child.title }}">
            {% endif %}
            <span class="flow_block__meta_title">{{ child.meta_title }}</span>
            <span class="flow_block__meta_divider">|</span>
            {% if child.image %}
                {% image child.image fill-300x300-c100 as im %}
                <img src="{{ im.url }}" {% if child.link %}alt="{{ im.alt }}"{% else %}alt=""{% endif %}>
            {% endif %}
            {% if child.title %}
                <h2 class="flow_block__title">{{ child.title }}</h2>
            {% endif %}
            {% if child.body %}
                <p class="flow_block__paragraph">{{ child.body }}</p>
            {% endif %}
            {% if child.link %}
                </a><!-- .flow_block__anchor -->
            {% endif %}
        </li><!-- .flow_block__item -->
    {% endfor %}
</ul><!-- .flow_block__list -->
