<script src="//maps.googleapis.com/maps/api/js"></script>
<script>
	function initialize() {
	  var latLng = new google.maps.LatLng({{ self.latitude }}, {{ self.longitude }});
	  var mapProp = {
	    center: latLng,
	    zoom: {{ self.zoom_level }},
	    mapTypeId: google.maps.MapTypeId.ROADMAP
	  };
	  var map=new google.maps.Map(
	    document.getElementById("google_map_{{ self.latitude }}{{ self.longitude }}"),
	    mapProp
	  );
	  var marker = new google.maps.Marker({
	    position: latLng,
	    map: map,
	  });
	}
	google.maps.event.addDomListener(window, 'load', initialize);
</script>

<div class="google_map" id="google_map_{{ self.latitude }}{{ self.longitude }}">
</div><!-- .google_map #google_map -->
