{% load wagtailimages_tags %}


<section class="image_grid">
    <ul class="image_grid__list">
        {% for child in self %}
            <li class="image_grid__item">
                {% image child width-1400 as im %}
                <a class="image_grid__anchor" href="{{ im.url }}" aria-label="{{ im.alt }}">
                    {% image child fill-420x420-c100 as im %}
                    <img src="{{ im.url }}" alt="">
                </a><!-- .image_grid__anchor -->
            </li><!-- .image_grid__item -->
        {% endfor %}
    </ul><!-- .image_grid__list -->
</section><!-- .image_grid -->
